header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  transition: 0.5s ease;
}
img {
  height: inherit;
}
header .navigation {
  position: relative;
}
header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s ease;
  text-decoration: none;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: red;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}
.menu-btn {
  display: none;
}
.searchBar {
  width: 20%;
  background: rgba(255, 255, 255, 0.714);
  border-radius: 30px;
}
.searchBar input {
  padding: 10px;
  width: 90%;
  border-radius: 30px;
  border: none;
  background: none;
}
.searchBar i {
  position: relative;
  cursor: pointer;
}
