.videoType {
    width: 100%;
}
.videoType .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 150px auto;
}

.vTypeIcon {
    position: relative;
    top: 12px;
    left: -21%;
    color: #ff25da;
    font-size: 27px;
}